{{#md-modal close='closeModal' class="test-modal"}}
  {{#material-fancy-loader isBusy=isBusy}}
    {{#if model.isError}}
      <div class="modal-content">
        <h5>Service Plan Parameters Exceeded</h5>
        <p>
          You are already at the maximum number of employee 
          <span class="bold">{{plan.employees}}</span> 
          accounts allowed by your service plan: 
          <span class="bold">{{plan.simwmsName}}</span>
        </p>
        <p>Please upgrade your service plan to create more employee accounts</p>
      </div>
      <div class="modal-footer">
        {{#link-to "employees.index" class="modal-action modal-close waves-effect waves-orange btn-flat cancel-button"}}
          Back
        {{/link-to}}
        <a href={{upgradeExtLink}} target="blank" class="modal-action modal-close waves-effect waves-orange btn-flat agree-button">
          visit upgrade page
        </a>
      </div>
    {{else}}
      <div class="modal-content">
        <h5>New Employee Information</h5>
        {{partial "employees/employee/form"}}
      </div>
      <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action "submit"}}>
          create new employee!
        </button>

        {{#link-to "employees.index" class="modal-action modal-close waves-effect waves-orange btn-flat cancel-button"}}
          Cancel
        {{/link-to}}
      </div>
    {{/if}}
  {{/material-fancy-loader}}
{{/md-modal}}